.App {
  text-align: center;
}

.color_div {
  height: 100px;
  background: red;
  width: 25%;
}
.checkbox_parent {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.color_div_two {
  background: yellow;
  width: 100%;
  height: 100px;
}
input[type="checkbox"] {
  height: 30px;
  width: 30px;
}
.checkbox_parent {
  display: flex;
  align-items: center;
}
.checbox_item {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
